<!DOCTYPE html>
<html>
<head>
	<title>Richard Stallman as a service</title>
    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="bg"></div>
	<div class="wrapper row">
		<div class="content large-12 columns">
            <h2>Richard Stallman My Twitter</h2>
            <h3>Now you can tweet the magical words of RMS himself.</h3>
            <a class="button" href="/login">Login with Twitter</a>
			<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
		</div>
	</div>
    <script src="/foundation/js/vendor/custom.modernizr.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
