ain, body, html {
  height:100%;
  margin:0;
}

.bg {
	background: url('../img/stallman.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	-ms-background-size:cover;
	background-size: cover;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
	height: 100%;
	width: 100%;
	position: fixed;
}

.wrapper {
	bottom: 0;
	height: 20em;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	width: 40em;
	text-align: center;
	padding: 30px;
	background: rgba(174,174,174,0.5);
}

.content {
	max-height: 100%;
}
